*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-start {
    justify-content: start;
}